# Logs
/SC_Frontend/logs
/SC_Frontend/*.log
/SC_Frontend/npm-debug.log*
/SC_Frontend/yarn-debug.log*
/SC_Frontend/yarn-error.log*
/SC_Frontend/pnpm-debug.log*
/SC_Frontend/lerna-debug.log*

/SC_Frontend/node_modules
/SC_Frontend/dist
/SC_Frontend/dist-ssr
/SC_Frontend/*.local

# Editor directories and files
/SC_Frontend/.vscode/*
/SC_Frontend/!.vscode/extensions.json
/SC_Frontend/.idea
/SC_Frontend/.DS_Store
/SC_Frontend/*.suo
/SC_Frontend/*.ntvs*
/SC_Frontend/*.njsproj
/SC_Frontend/*.sln
/SC_Frontend/*.sw?
/SC_Backend/.env

