// .gallery {
//     height: 425px;
//     margin-top: 2rem;
// }


// .slider {
//     height: inherit;
//     display: flex;
//     gap: 0.2rem;
//     align-items: center;
//     overflow-x: auto;
//     overflow-y: hidden;
//     padding-inline: 0.2rem;

//     &-img-container{
//         cursor: grab;

//         img{
//             height: 425px;
//             user-select: none;
//             pointer-events: none;

//         }
//     }
// }


/* App.css */
.slider-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    padding-inline: 1rem;
  }
  
  .slider-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome and Safari */
  }
  
  .slider {
    display: flex;
    gap: 10px;
    cursor: grab;
  }
  
  .slider img {
    height: 453px;
    border-radius: 10px;
    user-select: none; /* Prevents text selection during dragging */
    pointer-events: none;
  }
  
  .slider:active {
    cursor: grabbing;
  }