//Rensponsive EndPoints
$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-large: 1200px;


//Shadows
$mainShodws: 0px 0px 12px 0px #33333363;
$mainShodwsLight: 0px 0px 12px 0px #e4e4e463;