@use '../abstract/variables';


@mixin mainBtnMixin($BackColor: variables.$actionColor, $TextColor: variables.$mainColor, $Shadow: variables.$mainShodwsLight) {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 6px;
    border: none;
    background-color: $BackColor;
    color: $TextColor;
    width: fit-content;
    transition: all 0.3s;

    &:hover{
        cursor: pointer;
        box-shadow: $Shadow;
        transform: scale(1.05);
    }
}


.mainBtn {
    @include mainBtnMixin();
}

.mainBtnDark{
    @include mainBtnMixin(variables.$mainColor, #fff, variables.$mainShodws);
}

.mainBtnWhite{
    @include mainBtnMixin(#fff, variables.$mainColor, variables.$mainShodws);
    border: variables.$borderSettings;
}





.secondaryText {
    color: #cfcfcf;
    font-size: 0.9rem;
}


.secondaryText {
    color: #cfcfcf;
    font-size: 0.9rem;
}