.gallery {
    // height: 425px;
    margin-top: 2rem;
}


.slider {
    height: inherit;
    display: flex;
    gap: 4px;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-inline: 10px;
    user-select: none !important;
    cursor: grab;
    // scroll-behavior:initial;

    @media screen and (max-width: 600px) {
      height: 18rem;
    scroll-behavior:auto;

    }

    &::-webkit-scrollbar {
      display: none;
    }

    &-img{
      img{
        height: 28rem;
        user-select: none !important;
        pointer-events: none !important;


        &:hover{
          transform: scale(1.1);
        }


        @media screen and (max-width: 1400px) {
          height: 20rem;
        }
        
        @media screen and (max-width: 1200px) {
          height: 16rem;
        }

        @media screen and (max-width: 600px) {
          height: 18rem;
        }
      }
    }

    
}


